ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# because this is fullstack monorepo, we need to specify the API URL for the frontend to be able to make requests to the backend
NEXT_PUBLIC_API_URL=http://localhost:3000/api

NODE_ENV=development

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=